* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bgOrange: #e84949;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#wrapper {
    /* overflow-y: auto; */
    height: 100vh;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* background-color: aqua; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.logo {
    width: 62px;
}

.logo-text {
    margin-left: -0.2rem;
    font-size: 30px;
    letter-spacing: 1.5px;
}

.nav-items {
    /* transition: all 1s; */
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}

.nav-items div,i {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.nav-items div a {
    color: black;
}

.nav-items div:hover {

    font-weight: bold;
    transition: 0.8 s;
}

a {
    text-decoration: none;
}
.three-line-1{
    /* transition: all 0.5s; */
    opacity: 0;
}
#hide{
    position: relative;
}
/* nav-bar media query start */
/* @media (max-width:640px){
    .three-line{
        opacity: 0;
    }
    .navbar{
        justify-content: space-between;
    }
    .three-line-1{
        position:absolute;
        right: 40px;
        top: 75px;
        opacity: 1;
    }
    .container{
        width: 100%;
    }
    .navbar{
        margin-top: 20px;
        justify-content: space-around;
    }
    .logo {
        width: 59px;
    }
    .logo-text {
        margin-left: -0.2rem;
        font-size: 20px;
    }
    .nav-items {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        top: 105px;
        right: 0px;
        padding: 10px;
        background-color: #343d68;
        overflow:hidden;
        display: none;
    }
    .nav-items div {
        font-size: 16px;
    }
} */


@media (max-width:1200px){
    #hide{
        display: none;
    }
    .three-line{
        opacity: 0;
    }
    .three-line-1{
        position: fixed;
        opacity: 1;
        top: 8%;
        right: 22%;
    }
    .container{
        width: 100%;
    }
    .navbar{
        /* margin-top: 20px; */
        /* justify-content: space-around; */
    }
    /* .logo {
        width: 59px;
    } */
   
    .nav-items {
        /* transition: all 1s; */
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        /* padding: 0 2rem; */
        /* margin-top: 66px; */
        /* opacity: 0.8; */
    }
    .nav-items div {
        font-size: 16px;
    }
}

/* hero section css start */

.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text {
    /* position: absolute;  */
    user-select: none;
    font-size: 7rem;
    color: rgb(231, 231, 231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading {
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.role {
    color: #4e45d5;
    font-weight: 500;
}

.hero-section-sub-heading {
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description {
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink {
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    width: fit-content;
    color: white;
    cursor: pointer;
    font-weight: 500;
    border: solid 3px transparent;
    transition: all 0.5s;
    font-size: 18px;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
}

.btn-pink::before {
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}

.btn-pink:hover::before {
    transform: scaleX(1);
}

.btn-pink:hover {
    border: solid 3px #e84949;
    color: black;
}

.hero-section-right {
    position: relative;

}

.absolute {
    position: absolute;
}

#btn-bottom{
    display: none;
}
.user-image {
    padding: 2.5rem;
    width: 340px;
    height: 380px;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img {
    z-index: -9;
    width: 100%;
    height: 100%;
}

@keyframes scaleImage {
    0% {
        filter: grayscale(0);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1);
        filter: grayscale(0);
    }
}

.icon-dots {
    z-index: 1;
    bottom: -1rem;
    right: 0;
    animation-name: dotsAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes dotsAnimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);

    }

    100% {
        transform: translateY(0px);

    }
}

.icon-cube {
    z-index: 1;
    top: -0.8rem;
    right: 1em;
    animation-name: cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


@keyframes cubeRotate {
    0% {
        transform: rotateY(0deg) translateY(0px);
    }

    50% {
        transform: rotateY(180deg) translateY(-12px);

    }

    100% {

        transform: rotateY(360deg) translateY(0px);

    }
}

.icon-circle {
    z-index: 1;
    left: 0;
    bottom: 0;
    animation-name: circle;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}


@keyframes circle {
    0% {
        left: 0;
        bottom: 0;
    }

    50% {
        left: 5%;
        bottom: 10%;
    }

    100% {

        left: 0;
        bottom: 0;
    }
}


.icon-zigzak {
    z-index: 1;
    top: 1.5em;
    left: -0.3em;
    animation: zigzak 5s ease-in infinite;
}


@keyframes zigzak {
    50% {
        left: -1%;
        top: 1%;
    }
}

.icon-plus {
    z-index: 9;
    top: -0.8em;
    left: 50%;
    animation: plus 5s ease-in infinite;
}


@keyframes plus {
    50% {
        top: 3%;
        left: 48%;
    }
}

/* media query for hero-section */
@media (max-width:1200px){
    .hero-section{
        padding-bottom: 3rem;
        flex-direction: column;
    }
    .hero-section-left{
        text-align: center;
    }
    .hero-section-description {
        text-align: center;
        margin: auto;
    }
    #btn-top{
        display: none;
    }
    #btn-bottom{
        margin-top: -7rem;
        display: block;
    }
    .faded-text{
        display: none;
    }
    .hero-section-right {
        margin-top: -6em;
        scale: 0.7;
      }
}

/* start project-section csss */

.project-section {
    background-color: rgb(231, 231, 231);
    margin-top: 4.2rem;
    /* width: 100%; */
}

.page-header {
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.project-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card {
    width: 90%;
    height: 550px;
    /* background-image: url(./imges/Project1.png); */
    /* background-image: url(../../public/imges/Screenshot.png); */
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
}

.project-card::before {
    content: "";
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-number {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: white;
    z-index: 2;
    display: none;
}

.project-card:hover .project-number {
    display: block;
}

.project-number-right {
    right: -40px;
    top: -45px;
}

.project-number-left {
    left: -40px;
    top: -45px;
}

.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left {
    left: 10%;
}

.project-content-right {
    right: -2%;
}

.project-skill-container {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-skill {
    width: 40px;
}

.project-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-subheading {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}


.btn-grp {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

/* .btn-project:hover{
    border: none;
} */
#btn-project {
    border: none;
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
}

.icon:hover {
    color: var(--bgOrange);
}

.project-card:hover .project-content {
    transform: scale(1.1);
}

#project1 {
    background-image: url(../../public/imges/ecomerce.png);
}

#project2 {
    margin-left: 120px;
    background-image: url(../../public/imges/Screenshot.png);
    /* background-image: url(./imges/Project2.png); */
}

#project3 {
    background-image: url(../../public/imges/Discord.png);
}

#project4 {
    margin-left: 120px;
    background-image: url(../../public/imges/netfilx.png);
}


@media (max-width:1200px) {
    /* .project-section{
        background-color:#343d68;
    } */
    .page-header {
        font-size: 40px;
    }

    .project-container {
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }

    .project-card {
        width: 100%;
        height: 300px;
    }

    .project-card {
        background-size: cover;
        background-position: center;
    }

    .project-content {
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .project-content-left {
        left: 0;
    }
    .project-content-right {
        right: 0;
    }

    #project2,
    #project4 {
        margin-left: 0;
    }

    .project-content {
        padding: 1em;
        bottom: 4%;
    }

    .project-skill-container {
        width: 100%;
    }

    .project-skill {
        width: 35px;
    }

    .project-heading {
        font-size: 40px;
        width: 100%;
    }

    .project-subheading {
        width: 100%;
    }

    .icon {
        cursor: pointer;
        color: white;
        font-size: 17px;
        transition: all 0.3s;
    }
    .project-card:hover .project-number {
        display: none;
    }
    .project-card:hover .project-content {
        scale: 0.55;
    }
}

/* Mobile devices */
/* @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    .nav-items {
      display: none;
    }
  
    .navbar {
      justify-content: space-between;
    }
  
    .logo {
      width: 50px;
    }
  
    .logo-text {
      font-size: 20px;
    }
  
    .hero-section {
      flex-direction: column;
      gap: 2rem;
    }
  
    .hero-section-heading {
      font-size: 28px;
    }
  
    .hero-section-sub-heading {
      font-size: 36px;
      line-height: 36px;
    }
  
    .hero-section-description {
      width: 100%;
      font-size: 16px;
    }
  
    .btn-pink {
      padding: 0.6rem 1.8rem;
      font-size: 14px;
    }
  
    .project-card {
      height: 300px;
    }
  
    .project-container {
      padding: 2rem 0;
      gap: 30px;
    }
  
    .project-heading {
      font-size: 30px;
    }
  
    .project-subheading {
      width: 100%;
      font-size: 14px;
    }
  
    .project-content {
      bottom: 10%;
      gap: 0.5rem;
    }
  
    .project-content-left,
    .project-content-right {
      left: 0;
      right: 0;
    }
  
    .skill-container {
      padding: 2rem;
      margin: 2rem auto;
      flex-direction: column;
      gap: 1rem;
    }
  
    .skill-heading {
      font-size: 28px;
    }
  
    .caps {
      font-size: 40px;
    }
  
    .skill-logo {
      width: 40px;
    }
  
    .skill-fade-text {
      display: none;
    }
  
    .skill-subheading {
      width: 100%;
    }
  
    .contactus-heading {
      font-size: 28px;
      padding: 1rem 0;
    }
  
    .contactus-subheading {
      font-size: 20px;
      padding: 0 1rem;
    }
  
    .form {
      margin: 1rem 0;
    }
  
    .formfield-container {
      width: 100%;
    }
  
    .formfield {
      height: 38px;
      font-size: 16px;
    }
  
    .submit-icon {
      font-size: 24px;
    }
  
    .footer-faded-text {
      display: none;
    }
  
    .footer-wrapper {
      flex-direction: column;
      gap: 1rem;
    }
  
    .link-wrapper,
    .icon-wrapper {
      justify-content: center;
      gap: 0.5rem;
    }
  } */


/* á¹£tart skill section */

.skill-container {
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    position: relative;
    gap: 2rem;
    justify-content: center;
}

.skill-fade-text {
    position: absolute;
    font-size: 15em;
    font-weight: bold;
    color: rgb(231, 231, 231);
    bottom: -34.5%;
    right: -6.6%;
    user-select: none;
    overflow-y: hidden;
}

.blob-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: blobAnimate 3s linear infinite;
    z-index: -1;
}

@keyframes blobAnimate {
    50% {
        top: 54%;
        left: 46%;
    }

}

.skill-logo {
    width: 90px;
    transition: 0.5s;
}

.skill-logo:hover {
    transform: scale(1.2);
}

.skill-heading {
    font-size: 50px;
    font-weight: bold;
    color: var(--bgOrange);
    line-height: 50px;
}

.caps {
    font-size: 80px;
}

.skill-subheading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-subheading p {
    text-align: justify;
    margin: 15px 0;
}



/* skill-section media query start */

@media (max-width:1200px){
    .skill-container{
        box-sizing: border-box;
        flex-direction: column;
        margin: 0;
        padding: 2rem;
        justify-content: center;
        align-items: center;

    }
    .skill-fade-text{
        display: none;
    }
    .skill-container-left{
        width: 100%;
    }
    .skill-container-right{     
        width: 100%;
    }
    .skill-subheading{
        width: 100%;
    }
    .skill-heading {
        width: 100%;
        font-size: 40px;
        font-weight: bold;
    }
    .skill-logo{
        width: 50px;
    }
    .caps {
        font-size: 60px;
    } 
    .skill-heading::after {
        bottom: 9%;
    }
    
}


/* start contactus form  */

.contactus-form-container {
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.contactus-heading {
    color: var(--bgOrange);
    font-size: 5em;
    padding-top: 2rem;
}

.contactus-subheading {
    font-size: 3em;
    color: #343d68aa;
    text-transform: capitalize;
}

.contactus-form-container {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}

.formfield-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.formfield {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    font-weight: 500;
    border: none;
    font-size: 18px;
}

.formfield-textarea {
    height: auto;
    padding-top: 1rem;
}

#btn-project {
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}

#btn-project:hover {
    scale: 0.9;
}

.submit-icon {
    padding: 0 1rem;
    font-size: 1.5rem;
}

/* media query start for contaact us section*/

@media (max-width:1200px){
    .contactus-heading {
        font-size: 40px;
        text-align: center;
        padding: 15px 10px;
    }
    
    .contactus-subheading {
        text-align: center;
        font-size: 20px;
        padding: 0 10px;
    }
    .form {
        width: 100%;
        align-items: center;
        margin:0;
    }
    .formfield-container{
        width: 90%;
        align-items: center;
    }
    .formfield{
        width: 90%;
    }
}

/* start footer section */


footer {
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text {
    position: absolute;
    left: 0;
    bottom: 0;
    user-select: none;
    color: #535c87;
    font-size: 5em;
}

.link-wrapper {
    display: flex;
    gap: 1.2rem;
}

.link-wrapper div a {
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover {
    color: white;
    color: var(--bgOrange);
}

.icon-wrapper {
    display: flex;
    gap: 1rem;
}

/* media query of footer section */

@media (max-width:1200px){
    footer{
        padding: 0.5rem;
    }
    .footer-faded-text{
        display: none;
    }
    .footer-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}





